<!DOCTYPE html>
<html lang="pt-br">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/header.ejs') %>
    <%- include('partials/nav.ejs') %>

    <br>
    <br>

    <h1>Bem vindo ao CRUD do Wagner</h1>


    <%- include('partials/foot.ejs') %>
  </body>
</html>
